#global .gitignore file
#ignore all generated html files
*.html


SDK_files/A.20-Mux-soft.xpr/
SDK_files/.metadata/



#VHDL file types to ignore
*.debug
*.asy
*.bat
*.bld
*.cgp
*.csv
*.do
*.filter
*.key
*.lst
*.lso
*.map
*.mem
*.ngc
*.ngd
*.ngr
*.ncd
*.out
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.scr
*.sym
*.stx
*.syr
*.tcl
*.twx
*.twr
*.unroutes
*.vdbl
*.vdbx
*.xbcd
*.xdc
*.xml
*.xmsgs
*.xrpt
*.xpi
*.xst
*.xrpt
*.mrp
*.ngm


#tentative ignore of xco like files
*.in

#any temp files created by emacs
*~

